.nav-logo {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.logo-text-upper {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.2rem;
    font-size: 1.9rem;
}


.menu-title {
    margin-top: 3rem;
    margin-bottom: 7rem;
    font-family: $title-font-family;
    font-size: 3.4rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color: $light;
}

.collapsible-menu {
    height: 0;
    transition: height 1s;
    background-color: $primary;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    overflow: hidden;
}

.collapsible-menu-open {
    height: 100vh;
}

.collapsible-menu .btn {
    color: inherit;
    text-transform: uppercase;
    border-color: currentColor;
}

.list-item {
    margin: 2rem 0;
    text-transform: uppercase;
    color: $light;
}