.nav-logo {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.logo-text-upper {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.2rem;
    font-size: 1.9rem;
}


.menu-title {
    margin-top: 3rem;
    margin-bottom: 7rem;
    font-family: $title-font-family;
    font-size: 3.4rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color: $light;
}

.collapsible-menu {
    height: 0;
    transition: height 1s;
    background-color: $primary;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    overflow: hidden;
}

.collapsible-menu-open {
    height: 100vh;
}

.collapsible-menu .btn {
    color: inherit;
    text-transform: uppercase;
    border-color: currentColor;
}

.list-item {
    margin: 2rem 0;
    text-transform: uppercase;
    color: $light;
}

@media screen and (min-width:960px) {

    .toggler-icon {
        display: none;
    }

    .collapsible-menu {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        height: fit-content;
        width: fit-content;
        background-color: $light;
        display: flex;
        flex-direction: row;
        position: unset;
    }

    .nav-links .list {
        display: flex;
        align-items: center;
    }

    .list-item {
        color: $header-text;
        padding: 0 2rem;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .menu-title {
        display: none;
    }

    .main-flex {
        display: flex;
        justify-content: space-around;
        margin: 0 10rem;
    }

    .main-title,
    .main-text {
        text-transform: capitalize;
    }

    .main-title {
        margin-left: 0;
        text-align: left;
    }

    .main-text {
        text-align: left;
    }

    .flex {
        align-items: flex-start;
    }

    .intro {
        max-width: 52rem;
    }

    .dark-part {
        min-height: 0;
        display: flex;
        align-items: center;
    }

    .dark-part-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 65rem;
    }

    .text-dark,
    .title-dark {
        text-align: left;
        margin: 1rem 0;
    }
}