@use "mixins";
@use "variables";
@use "header";
@use "main";
@use "footer";


/*FONTOVI*/
/* font-family: 'Libre Baskerville', serif; */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: $body-font-family;
}

a {
    text-decoration: none;
    color: $primary;
    outline: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn {
    border: 2px solid $primary;
    font-size: 1.4rem;
    padding: 1.4rem 3rem;
}

ul {
    list-style: none;
}

.container {
    margin: 2rem;
}