/*FONTOVI*/
/* font-family: 'Libre Baskerville', serif; */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-font-family: 'Roboto', sans-serif;
    --title-font-family: 'Libre Baskerville', serif;

    --primary: #475f45;
    --header-text: #343d33;
    --body-copy: #414840;
    --light: #ffffff;

}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary);
    outline: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    margin: 2rem;
}

.logo {
    display: flex;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.logo-text-upper {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.2rem;
    font-size: 1.9rem;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
}

.menu-title {
    margin-top: 3rem;
    margin-bottom: 7rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 3.4rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color: var(--light);
}

.collapsible-menu {
    height: 0;
    transition: height 1s;
    background-color: var(--primary);
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    overflow: hidden;
}

.collapsible-menu-open {
    height: 100vh;
}

.collapsible-menu .btn {
    color: inherit;
    text-transform: uppercase;
    border-color: currentColor;
}

.list-item {
    margin: 2rem 0;
    text-transform: uppercase;
    color: var(--light);
}

.main-menu-open {
    height: 0;
    overflow: hidden;
}

.footer-menu-open {
    display: none;
}

.main-title {
    text-align: center;
    font-size: 3.4rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    color: var(--header-text);
    margin: 1.5rem;
}

.main-text {
    font-size: 2rem;
    color: var(--secondary-font-color);
    text-align: center;
    font-weight: 300;
    margin-bottom: 2.4rem;
    max-width: 36rem;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.btn {
    border: 2px solid var(--primary);
    font-size: 1.4rem;
    padding: 1.4rem 3rem;
}

.btn a {
    text-transform: uppercase;
}

.btn-dark {
    background-color: var(--primary);
}

.btn-dark a {
    color: var(--light);
}

.btn:hover {
    opacity: 40%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    margin: 4rem 2rem;
    width: calc(100% - 4rem);
    max-width: 480px;
}

.dark-part {
    background-color: var(--primary);
    position: relative;
    min-height: 100vh;
    padding: 5rem 0 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
}

.background-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/frame.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 50%;
    background-position-x: 115%;
}

.img-discover {
    width: 90vw;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.title-dark {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.4rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color: var(--light);
}

.text-dark {
    text-align: center;
    font-size: 1.6rem;
    color: var(--light);
}

.title-dark,
.text-dark {
    margin: 2rem 3rem;
}

.btn-dark {
    border: 2px solid var(--light);
    color: var(--light);
}

.dark-part-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark-part button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.news,
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
}

.news-title {
    margin-top: 4.7rem;
    font-size: 3.4rem;
    font-family: var(--title-font-family);
    font-weight: 400;
    color: var(--header-text);
    text-transform: capitalize;
}

.news-text {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 3.6rem;
    color: var(--body-copy);
    display: flex;
    align-items: center;
}

.news-text::before {
    content: "";
    display: inline-block;
    width: 4.8rem;
    height: 0.2rem;
    background-color: rgba(196, 196, 196, 0.7);
    margin-right: 2rem;
}

.news-text::after {
    content: "";
    display: inline-block;
    width: 4.8rem;
    height: 0.2rem;
    background-color: rgba(196, 196, 196, 0.7);
    margin-left: 2rem;
}

.news-img {
    width: 100%;
}

.article-title {
    font-family: var(--title-font-family);
    color: var(--header-text);
    font-size: 2.3rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

.article {
    font-size: 1.6rem;
    font-family: var(--body-font-family);
    line-height: 2.4rem;
}

.article-info {
    font-family: var(--body-font-family);
    color: var(--primary);
    line-height: 2.4;
    font-size: 1.6rem;
    font-style: italic;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: rgba(196, 196, 196, 1);
    margin-bottom: 2rem;
}

.footer {
    background-color: var(--primary);
}

.logo-footer {
    color: var(--light);
    justify-content: center;
    padding-top: 5rem;
    margin-bottom: 2.7rem;
}

.footer-info {
    margin: 0 2rem;
    text-align: center;
    font-size: 1.6rem;
    color: var(--light);
    font-weight: 400;
    line-height: 2.4rem;
}

.footer-title {
    text-align: center;
    color: var(--light);
    font-size: 1.6rem;
    line-height: 1.7rem;
    font-family: var(--title-font-family);
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.footer-links {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-links a {
    color: var(--light);
}

.footer-group {
    display: flex;
    justify-content: space-evenly;
    margin: 0 7rem;
    padding-bottom: 2rem;
}

.footer-group-list img:hover {
    transform: scale(1.1);
}

.footer-links a:hover {
    color: rgba(196, 196, 196, 1);
}

.copyright-information {
    color: var(--light);
    font-size: 1.4rem;
    line-height: 2.1rem;
    background-color: var(--header-text);
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:700px) {
    .into {
        margin: 0 auto;
    }

    .dark-part img {
        max-width: 65rem;
    }

    .dark-part {
        min-height: 0;
        display: flex;
        align-items: center;
    }

    .dark-part-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 65rem;
    }

    .text-dark,
    .title-dark {
        text-align: left;
        margin: 1rem 0;
    }

    .title-dark {
        font-size: 4.5rem;
    }

    .text-dark {
        font-size: 2rem;
    }

    .news {
        align-items: flex-start;
    }

    .grid-a {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        margin-bottom: 2rem;
    }

    .grid-b {
        margin-left: 2.4rem;
    }

    .grid-d {
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: left;
    }

    footer {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
    }

    footer>div:not(:last-child) {
        margin-bottom: 2rem;
    }

    .copyright-information {
        grid-column: 1/-1;
    }

    .footer-info,
    .footer-title,
    .footer-links {
        text-align: left;
    }

    .footer-group {
        margin: 0 5rem 0 0;
        justify-content: space-between;
        max-width: 20rem;
    }

    .logo-footer {
        justify-content: left;
        margin-left: 2rem;
    }
}

@media screen and (min-width:960px) {

    .toggler-icon {
        display: none;
    }

    .collapsible-menu {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        height: fit-content;
        width: fit-content;
        background-color: var(--light);
        display: flex;
        flex-direction: row;
        position: unset;
    }

    .nav-links .list {
        display: flex;
        align-items: center;
    }

    .list-item {
        color: var(--header-text);
        padding: 0 2rem;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .menu-title {
        display: none;
    }

    .main-flex {
        display: flex;
        justify-content: space-around;
        margin: 0 10rem;
    }

    .main-title,
    .main-text {
        text-transform: capitalize;
    }

    .main-title {
        margin-left: 0;
        text-align: left;
    }

    .main-text {
        text-align: left;
    }

    .flex {
        align-items: flex-start;
    }

    .intro {
        max-width: 52rem;
    }

    .dark-part {
        min-height: 0;
        display: flex;
        align-items: center;
    }

    .dark-part-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 65rem;
    }

    .text-dark,
    .title-dark {
        text-align: left;
        margin: 1rem 0;
    }
}

@media screen and (min-width:1350px) {
    .dark-part {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .img-discover-2 {
        order: 2;
        grid-column: span 2;
    }

    .grid-container-news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
        margin: 0 6rem;
    }

    .grid-a {
        display: flex;
        flex-direction: column;
        margin: 2rem 0 0 0;
    }

    .grid-d {
        margin-top: 0;
    }
}